@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.banner {
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 75%);
    width: 100%;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.banner-info > h3 {
    color: black !important;
    font-size: 26px;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;

}

.banner-info > p {
    color: black !important;
    font-size: 16px;
    font-weight: 500;   
    font-family: 'Poppins', sans-serif;
}

.bannerCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.card1,
.card2,
.card3 {
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    height: 250px;
    width: 300px;
    padding-left: 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}


.card2 {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 80px;
}

.card3 {
    margin-top: 160px;
}

.card1 > img, 
.card2 > img, 
.card3 > img {
    position: absolute;
    background-color: hsl(255, 11%, 22%);
    padding: 10px;
    border-radius: 50%;
    margin-top: -30px;
    display: flex;
    align-items: center;
}

h4 {
    color: hsl(260, 8%, 14%);
    font-size: 20px;
    margin-top: 50px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

p{
  margin-top: 10px;  
  color: hsl(257, 7%, 63%);
  font-weight: 500;
font-family: 'Poppins', sans-serif;
  
}

.bannerCards > img > {
    background-color: hsl(255, 11%, 22%);
    align-items: center;
    padding: 15px;
    margin-top: -30px;
    font-size: 18px;
    border-radius: 50%;
} 

.bannerSection{
    display: grid;
    align-items: center;
    place-content: center;
    height: 250px;
    background-image: url('/public/images/back.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 50px;
}

.bannerSection > h4 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.bannerSection > button {
    background-color: aqua;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}