@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: black !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    font-family: 'Poppins', sans-serif;
}

.navbar > a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(257, 7%, 63%);
   
}

.signButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.signButtons > button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}

.login {
    color: hsl(257, 7%, 63%);
    padding: 0 20px;
    border: none;
    background-color: white;
}

.signUp {
    background-color: hsl(180, 66%, 49%);
    padding: 3px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    align-items: center;
}
