@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    margin-top: -20px;
    margin-left: 40px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    
}

.homepage-info > h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.homepage-info > p {
    color: hsl(257, 7%, 63%);
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.homepage-info > button {
    margin-top: 20px;
    background-color: turquoise;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
}

.homepage-info > button:hover{
   color: turquoise;
   background-color: white;
}


.homepage-svg{
    display: flex;
    align-items: center;
}

.homepage-svg > img {
    object-fit: contain;
    width: 100%;
    
}